:root {
  --dark-gray: #141414;
  --light-gray: #e6e5e3;
  --bit-dark-gray: #505050;
  --text-light-gray: #dadada;

  scroll-behavior: smooth;
  color-scheme: dark;
  font-size: 14px;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background-color: var(--dark-gray);
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Now', sans-serif;
  font-family: 'Inter', sans-serif;
  cursor: none;
}

ul, li, a, p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  
}

h1 {
  font-family: 'Helvetica Now', sans-serif;
}

header {
  padding: 1.5rem 0;
  position: fixed;
  mix-blend-mode: difference;
  width: 100%;
}

header {
  z-index: 998;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0);  
}


.nav-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.nav-list a {
  color: var(--text-light-gray); 
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4em;
  transition:  3s ease-out;
}

.nav-list a:not(.role-list a):hover {
  text-shadow: var(--text-light-gray) 0px 0px 10px;
  transition:  0.2s ease-in;
  cursor:none;
  text-decoration: underline;
}

.nav-list a:not(.role-list a):active {
  text-shadow: var(--text-light-gray) 0px 0px 40px;
  transition:  0.2s ease-in;
}

.left, .right, .center{
  width: 100%;
  display: flex;
  gap: 2em;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.my-name {
  font-weight: 700 !important;
}


.role-list a {
  cursor:none;
  transition: 1ms, ease-in;
}

.role-list li:hover a::before{
  content: "ASPIRING ";
  font-style: italic;
  
}



.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.flex-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: end;
}




.hero {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.greeting {
  font-family: 'Helvetica Now', sans-serif;
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  position: fixed;
  padding: 2em 0;
  z-index: -999;
}

.gradient-text {
  background: linear-gradient(45deg, #FF7555, #E278FF, #F8FF6A, #22E9F1, #ff6a83, #84FF8E);
  background-size: 1000% 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: GradientBackground 8s ease infinite;
}

.gradient-effect {
  background: linear-gradient(45deg, #FF7555, #E278FF, #F8FF6A, #22E9F1, #ff6a83, #84FF8E);
  background-size: 1000% 1000%;
  animation: GradientBackground 8s ease infinite;
}
  
@keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.typed-cursor {
  display: none;
}

.scroll-thing {
  width: 100%;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}

.scroll-thing > img {
  height: 4em;
  opacity: 0.5;
}

.scroll-thing > span {
  display: none;
}

.scroll-thing > img:hover ~ span{
  display: unset;
}

/* ABOUT SECTION */
.about-wrapper {
  min-height: 100vh;
  background-color: var(--light-gray);
}

.about-content {
  padding-top: 15vh;
  margin: auto;
}

.about-texts {
  width: 100%;
  color: var(--dark-gray);
}

.about-texts hr {
  width: 100%;
  margin-top: 1.5em;  
  margin-bottom: 2.5rem;
  border: 0 0 1px 0;
  border-bottom: 1px var(--dark-gray);
  opacity: .7;
}

.about__big-text {
  font-size: 6rem;
  font-weight: 500;
}

.small-texts {
  text-align: right;
  width: 25%;
}

.small-texts p{
  margin-top: 0.5em;
  text-transform: uppercase;
}

.text-stroke {
  -webkit-text-stroke: 1.5px var(--dark-gray);
  color: var(--light-gray);
}


.half-width {
  width: 40%;
}

.big-text__desc li {
  line-height: 1.5em;
  text-transform: uppercase;
  color: var(--bit-dark-gray);
}

.toggle-icon {
  height: 100%;
  width: 100%;
}

.toggle-icon:hover {
  cursor:none;

}

.plus-toggle svg{
  height: 6em;
  min-width: 6em;
  top: 0;
  transition: all 0.3s ease-in-out;
  padding: 1px;
}

.big-line input[type="checkbox"] {
  display: none;
}

.exp-title:hover ~ .exp-year {
  display: unset;
}

.exp-year {
  display: none;
  border: 1px solid var(--bit-dark-gray);
  border-radius: 1em;
  padding: 2px 10px;
  margin-bottom: 0.4em;
  color: var(--bit-dark-gray);
}

.hide ul{
  display: none;

}

#plus-toggle:checked ~ .plus-toggle > svg  {
  transform: rotate(135deg);
}

#plus-toggle2:checked ~ .plus-toggle > svg  {
  transform: rotate(135deg);
}

#plus-toggle3:checked ~ .plus-toggle > svg  {
  transform: rotate(135deg);
}

#plus-toggle:checked ~ .hide ul  {
  display: unset;
}

#plus-toggle2:checked ~ .hide ul  {
  display: unset;
}

#plus-toggle3:checked ~ .hide ul  {
  display: unset;
}

.flex-align-top {
  align-items: flex-start;
}

.flex-align-bottom {
  align-items: flex-end;
}

.reveal {
  position: relative;
  transform: translateX(-50px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.reveal.active {
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.reveal-up {
  position: relative;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.reveal-up.active {
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
  opacity: 1;
}



.skills {
  width: 100%;
  /* border: 1px solid var(--dark-gray); */
  border-radius: 3em;
  opacity: .7;
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  gap: 1.5em;

}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  text-align: center;
  border: 1px solid var(--dark-gray);
  border-radius: 2em;
}

.skills__item h2 {
  font-weight: 500;
}

.skills__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}


/* OBJECTIVE */

.objective-wrapper {
  min-height: 100vh;
  background-color: var(--light-gray);
  display: flex;
}

.objective-content {
  margin: auto;
  padding: 5em;
  border-radius: 2em;
  background-color: var(--dark-gray);
}

.objective-content p {
  font-family: 'DM Serif Display', serif;
  font-size: 4em;
}

.objective-content span:not(:first-of-type) {
  opacity: 0.5;
  transition: all 0.2s ease-in-out 1s
}

.objective-content span:not(:first-of-type):hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  text-shadow: #dadada7a 0 0 10px;
}




/* CONTACT SECTION */
.contact-wrapper {
  height: 100vh;
  background-color: var(--dark-gray);
}

.contact-content {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 5em 0;
}

.contact-wrapper h1 {
  font-size: 6em;
}

.contact-link {
  width: 100%;
  align-items: center;
}

.contact-link a {
  font-size: 6em;
  color: var(--text-light-gray);
  background-color: #22eaf100;
  width: 100%;
  z-index: 99;
}

.contact-link a:hover {
  text-shadow: #dadada7a 0 0 10px;
  cursor: none;
}

.contact-link svg {
  height: 4em;
  position: absolute;
  right: 0;
}

.flex-col{
  flex-direction: column;
}

.contact-content hr {
  margin-top: -2em;
  margin-bottom: 2em;
}

.contact-right {
  align-self: flex-start;
}

.height-100 {
  height: 100%;
}

.char-ref {
  /* background-color: #22E9F1; */
  width: 100%;
}

.char-ref h2, .char-ref, span{
  font-size: 1em;
  text-transform: uppercase;
}


.stripe {
  width: 100%;
  height: 1em;
}

.stripe-dark{
  width: 100%;
  height: 1em;
  background-color: var(--dark-gray);
}



/* NOISYYYYYYYYYYYYYYYY */
.noise-background {
  background-image: url("../assets/noise.png");
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  opacity: 0.4;
  animation: noise .09s infinite;
  pointer-events: none;
  z-index: 999;
  transform: translateZ(0);
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

/* CURSOR STUFF */
.cursor1 {
  position: fixed;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.03s;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}


.cursor2 {
  position: fixed;
  width: 50px;
  height: 50px;
  border: solid 1px #ffffff54;
  border-radius: 50%;
  background-color: #00000000;
  transition: 0.2s ease-out;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;

}

.cursor2.cursor-hover{
  height: 120px;
  width: 120px;
}

.cursor2.cursor-click {
  height: 30px;
  width: 30px;
}


/* /////////////////////////////////////////////// */
@media only screen and (max-width: 900px) {

  .skills {
    flex-wrap:wrap
  }
  
}